body{
    background-color: #fffaf2;
    font-family: 'Open Sans', sans-serif;
}

.container {
    padding-top: 20px;
}

#map {
    margin-top: 15px;
}

.card-body {
    padding: 5px;
}

.card{
    margin:2px;
}

h1{
    font-family: 'Caveat', cursive;
    font-size: 70px;
}

h3{
    font-size: 30px;
}

#progbar {
    opacity: 1;
    -webkit-transition: opacity 500ms linear;
    transition: opacity 500ms linear;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
  }